{% extends 'CRM/layout.html.twig' %}
{% block body %}
    {% for message in app.flashes('admin_system_messages') %}
        <div class="alert alert-notice">
            {{ message }}
        </div>
    {% endfor %}
    <table style="width: 100%;">
        {% for site in sites %}
            {% if site.isTemplate == false %}
                <tr>
                    <td>
                        {{ site.name }}({{ site.user.email }})
                        <a onclick="return confirm('Are you sure that you want to DELETE it?')"
                           href="{{ path('crm_delete_site', { site : site.id }) }}">delete</a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
