.backgroundRight { background: none; }
.cd-section.visible { background: none; }
.sidebar .socialIcons a { color: #666; }

#cd-loading-bar { background-color: #222f3e; }

/* fixed background */
.fixedBackground {
    display: block;
    background: #fff;
}

.fixedBackground:before {
    display: block;
    opacity: 0.6;
    background-image: url("https://sitemax.s3-eu-west-1.amazonaws.com/templates/beauty_center_2.jpg");
}

.contentContainer a { color: #212529; }