.backgroundRight { background: none; }
.cd-section.visible { background: none; }
.sidebar .socialIcons a { color: #333; }

#cd-loading-bar { background-color: #fff; }

/* fixed background */
.fixedBackground {
    display: block;
    background: #fffaea;
}

.fixedBackground:before {
    display: block;
    opacity: 0.5;
    background-image: url("https://sitemax.s3.eu-west-1.amazonaws.com/templates/digital_1.jpg");
}

.contentContainer a { color: #212529; }