.backgroundRight { background: none; }
.cd-section.visible { background: none; }
.sidebar .socialIcons a { color: #222; }

#cd-loading-bar { background-color: #111; }

/* fixed background */
.fixedBackground {
    display: block;
    background: #fffaea;
}

.fixedBackground:before {
    display: block;
    opacity: 0.4;
    background-image: url("https://sitemax.s3-eu-west-1.amazonaws.com/templates/hr_1.jpg");
}

.contentContainer a { color: #212529; }