{% extends 'Admin/layout.html.twig' %}
{% block body %}
    <div class="container cartWrap">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Thank you!</h1>

                Your subscription has been successfully processed! You will receive an email with payment confirmation!
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}