.clear { clear: both; }
a { color: #383E41; text-decoration: none; }
.contentContainer { padding-bottom: 100px; }
.contentContainer a { color: #4d7bae; }
a:hover { text-decoration: none; }
h1 { text-align: center; margin: 100px 0px 100px; width: 100% }
.publishedAt { float: left; width: 100%; color: #555; font-size: small; }
.home h1 { margin: 0px; }

#pagesMenu li { margin-left: 40px; }

.navigation { padding: 20px 0px; background: #fff; z-index: 2; position: relative; }
.navigation .socialIcons { padding: .5rem 1rem; float: right; display: none; }
.contactUsWrap .socialIcons a, .navigation .socialIcons a { padding: 0 .1rem; margin-right: 20px; }
.socialIcons a { padding: 0.4rem; }


/* navbar */
.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-brand { text-transform: uppercase; }

.navbar-collapse.collapse.show .socialIcons { font-size: 20px; text-align: center; }
.navbar-collapse.collapse.show .socialIcons a { padding: 0.4rem; }

.blogHeader { padding: 25px 0px; margin-bottom: 40px; text-align: center; width: 100%;}
.blogHeader div { width: 100%; text-align: center;}
.blogTemplate { text-align: center; }
.featuredPost { position: relative; color: #383E41; min-height: 400px; background-color: #3c3c3c; padding: 0px; }
.featuredPost a { width: 100%; height: 400px; display: block; background-size: cover; }
.featuredPost .featuredPostExcerpt { width: 50%; height: 200px; position: absolute; padding: 20px; bottom: -80px; left: 100px; background: #f4e9e2; overflow: hidden }

.blogPostListWrap { margin-bottom: 170px; position: relative; }
.blogList .blogImgWrap { width: 100%; height: 510px; display: block; overflow: hidden; background: #ccc; }
.blogList .blogExcerptWrap { position: absolute; height: 150px; width: 80%; padding: 25px 25px 0px 0px; background: #fff; bottom: -80px; }
.blogList h3.title {  }

main {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #fff;
    margin-bottom: 700px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 700px;
    background: #111;
    z-index: 1;
}

.footer .siteName { font-size: 100px; margin-top: 300px; text-align: center; width: 100%; color: #fff; }
.footer .socialIcons { text-align: center; }
.footer .socialIcons a { margin-right: 15px; color: #fff; }
.footer .builtWithBerform { bottom: 0px; position: absolute; width: 100%; text-align: center; color: #fff; font-size: small; padding: 10px 0px; }

.featuredParallaxPost {
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 70px 0px 120px;
    position: relative;
    background-color: #3c3c3c;
}

.featuredParallaxPost .title { width: 100%; text-align: center; position: absolute; bottom: 250px; height: 100px; line-height: 100px; color: #fff; }
.featuredParallaxPost .title a { color:#fff; }

.morePosts { padding-top: 100px; padding-bottom: 150px; margin-top: 150px; margin-bottom: -150px; background-color: #D9D9D9; width: 100%; }
.morePosts .blogImgWrap { width: 100%; overflow: hidden; display: block; }
.morePosts .noImage { width: 100%; height: 410px; background: #626262; overflow: hidden; display: block; }
.morePosts h3 { min-height: 70px; }

/* blog */
.blogPost #imagesWrap { position: relative; width: 350px; float: left; padding-bottom: 20px; margin-bottom: 30px; background: #fff; }
.moreImagesPlaceholder {
    width: 110px;
    height: 70px;
    background: #333;
    float: left;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 70px;
}

.blogPost #imagesWrap .imgWrap { display: block; margin: 10px 10px 0px 0px; float: left; }
.blogPost .blogIconImgWrap { float: left; margin-left: -40px; }
.blogPost, .blogListWrap { padding-left: 40px; margin-bottom: 150px; }
.blogListWrap h2, .blogPost h1 { margin-bottom: 60px; }
.blogListWrap .blogImgWrap, .blogPost .blogImgWrap { float: left; margin: -20px 30px 20px -40px; }
.blogListWrap .moreLink { margin-bottom: 100px; float: left }


.parallaxImageWrap {  margin: 20px -50px; }
.parallaxImageWrap a { height: 600px; width: 100%; display: block; background-attachment: fixed; background-position: center; }
.singleImageStaticWrap img { width: 100%; overflow: hidden; }
.singleImageStaticWrap a { width: 100%; display: block; }

.blogPage h1 { text-align: center; margin: 100px 0px 100px; }

/* albums */
.albumWrap { margin: 80px 0px; }
.albumWrap h3 { margin-top: 20px; }
.albumWrap p { margin-top: 10px; }
.albumWrap a { color: #383E41; }
.albumWrap a:hover { color: inherit;  }
.albumContentWrap { margin-bottom: 200px; }
.albumContent { margin-bottom: 100px; }
.photosGrid a { margin-bottom: 50px; }
/* end albums */


/* contact page */
.contactUsWrap { margin: 30px 0px; text-align: center; }
#contactForm label { width: 100%; margin: 10px 0px 0px; }
#contactForm input, #contactForm textarea { border: 1px solid #ccc; width: 100%; }
#contactForm .contactFormRowCell { padding-left: 0px; }
#contactForm #contact_submit { height: 35px; line-height: 35px; width: 100px; background: #000; border: 0px; color: #fff; border-radius: 40px; float: right; margin-top: 10px; text-transform: lowercase; }
/* end contact page */

@media only screen and (max-width: 828px) {
    .navigation .socialIcons { display: none; }
}