{% extends 'admin/layout.html.twig' %}
{% block body %}
    <h2>Sites</h2>
    {{ include('Admin/site_list.html.twig') }}
    <h2>Domains</h2>
    {{ include('Admin/domain_list.html.twig') }}
{% endblock %}
