<div class="innerPageHeader row">
<a href="/" id="logo">b e r f o r m</a>
<ul class="top-menu">
    <li><a class="right" href="{{ path('app_registration') }}">{% trans %}landing_site_register{% endtrans %}</a></li>
    <li><a class="left" href="{{ path('app_login') }}">{% trans %}landing_site_login{% endtrans %}</a></li>
</ul>
</div>