<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}S I T E M A X{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/a.js') }}"></script>
    <script src="{{ asset('js/site/ready.js') }}"></script>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
