{% extends 'UserSite/' ~ layout ~ '.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>{% if page.translatedTitle[app.request.locale] is defined %}{{ page.translatedTitle[app.request.locale] }}{% endif %}</h1>
            <div>
                {% if page.translatedContent[app.request.locale] is defined %}{{ page.translatedContent[app.request.locale]|raw }}{% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="blogListWrap">
{#                {% set templateName =  %}#}
                {% include('UserSite/BlogSite/'~site.template~'/post_items_list.html.twig') %}
            </div>
        </div>
    </div>

{% endblock %}
