<div class="heading topActionLinks">
    <a href="{{ path('user_admin_site_build', {id : site.id}) }}"><i class="fas fa-file-alt"></i> {% trans %}admin_links_pages{% endtrans %}</a>
    <a href="{{ path('user_admin_node_list', { type: 'album', site: site.id }) }}"><i class="fas fa-camera-retro"></i> {% trans %}admin_links_albums{% endtrans %}</a>
    <a href="{{ path('user_admin_post_list', {site : site.id}) }}"><i class="fas fa-blog"></i> {% trans %}admin_links_blog{% endtrans %}</a>
</div>