/* blog */
.blogPost #imagesWrap { position: relative; width: 350px; float: left; }
.blogPost #imagesWrap .imgWrap { margin-right: 5px; }
.blogPost .blogIconImgWrap { float: left; margin-left: -40px; }
.blogPost, .blogListWrap { padding-left: 40px; }
.blogListWrap h2, .blogPost h1 { margin-bottom: 60px; }
.blogListWrap .blogImgWrap, .blogPost .blogImgWrap { float: left; margin: -20px 30px 20px -40px; }
.blogListWrap .moreLink { margin-bottom: 100px; float: left }


.parallaxImageWrap {  margin: 20px -50px; }
.parallaxImageWrap a { height: 600px; width: 100%; display: block; background-attachment: fixed; background-position: center; }
.singleImageStaticWrap img { width: 100%; overflow: hidden; }
.singleImageStaticWrap img { width: 100%; }