/* blog */
.blogPost #imagesWrap { position: relative; width: 350px; float: left; }
.blogPost .blogIconImgWrap { float: left; margin-left: -40px; }
.blogPost, .blogListWrap { padding-left: 40px; }
.blogListWrap h2, .blogPost h1 { margin-bottom: 60px; }
.blogListWrap .blogImgWrap, .blogPost .blogImgWrap { float: left; margin: -20px 30px 20px -40px; }
.blogListWrap .moreLink { margin-bottom: 100px; float: left }