body { background: url('https://images.unsplash.com/photo-1506345285442-8e9a3a298cdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80') no-repeat; }
.backgroundRight { background: none; }
.cd-section.visible { background: none; }
.sidebar .socialIcons a { color: #666; }