.backgroundRight { background: none; }
.cd-section.visible { background: none; }
.sidebar .socialIcons a { color: #666; }

/* fixed background */
.fixedBackground {
    display: block;
    background: #fff;
}

.fixedBackground:before {
    display: block;
    opacity: 0.4;
    background-image: url("https://images.unsplash.com/photo-1506345285442-8e9a3a298cdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=80");
}
