{# todo: make a form class #}
<form method="post">
    <input style="display: none;" id="fileUpload" type="file" name="files[]" data-url="{{ path('admin_site_upload_handler', {'site' : site.id}) }}" multiple />
    <a class="uploadButton imgWrap" onclick="$('#fileUpload').click()">+</a>
</form>


{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}

{#<script src="{{ asset('js/file-uploader/js/jquery.ui.widget.js') }}"></script>#}
{#<script src="{{ asset('js/file-uploader/js/jquery.iframe-transport.js') }}"></script>#}
<script src="{{ asset('js/file-uploader/js/jquery.fileupload.js') }}"></script>
<script>
    $(function () {
        $('#fileUpload').fileupload({
            dataType: 'json',
            done: function (e, data) {
                const result = data.result;
                $('#imagesWrap').append('<div class="imgWrap" id="upload_'+result.id+'"><img src="'+result.url+'" /></div>');
                $('.attachedFiles').val($('.attachedFiles').val() + result.id + ';');
            }
        });
    });
</script>
