{% extends 'LandingSite/layout.html.twig' %}
{% block body %}
    {#    <div class="innerPageHeader"></div>#}


    {{ include('LandingSite/header.html.twig') }}

    <div class="row innerPageWrap" style="">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Privacy</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum semper eleifend. Etiam
                blandit ante eu rutrum semper. Nulla facilisi. Nunc in eleifend enim, vitae varius augue. Vivamus
                tempor, nibh et accumsan vestibulum, mauris leo pulvinar mauris, id condimentum tellus ipsum quis felis.
                Fusce venenatis quis velit sed vulputate. Phasellus molestie ut nunc vitae suscipit.
            </p>
            <p>
                Nulla ut nibh nibh. Proin accumsan ultricies cursus. Suspendisse potenti. Curabitur eu luctus mi.
                Quisque sit amet fermentum tellus, id fermentum nunc. Aliquam a metus a arcu bibendum vestibulum vitae
                ut purus. Duis sapien neque, imperdiet nec pretium in, vehicula id nibh.
            </p>

            <p>
                Aenean finibus facilisis arcu, nec placerat urna condimentum sit amet. Sed vulputate magna mollis elit
                dapibus posuere. Proin neque odio, accumsan nec tempus sit amet, consectetur ac nulla. Sed ultricies
                facilisis neque id viverra. Integer efficitur erat quis dictum porttitor. Phasellus euismod accumsan
                volutpat. Quisque nec lacus cursus, pretium est rhoncus, rutrum elit.
            </p>

            <p>
                Vivamus sed erat arcu. Donec finibus volutpat porta. Curabitur a ultricies sapien, non congue eros.
                Mauris sed gravida nulla, blandit efficitur ipsum. Maecenas nisi velit, aliquam nec bibendum in,
                hendrerit eu arcu. Proin semper et dolor sed auctor. Pellentesque a est non mauris convallis rutrum eu
                quis arcu.
            </p>

            <p>
                In molestie nunc efficitur augue maximus, quis cursus tortor euismod. Vestibulum ac placerat velit, nec
                tempor quam. Maecenas sit amet mi sit amet turpis dignissim laoreet ut ut sapien. Aliquam eu diam non
                dolor suscipit elementum non et leo. Vivamus rutrum aliquet elit eget consequat. Nullam tellus eros,
                tempor vel metus eu, porta laoreet metus. Vestibulum hendrerit quam venenatis felis gravida, a accumsan
                magna ultricies. Duis tempus, dolor ut fermentum consequat, nunc nunc luctus purus, eu convallis tortor
                nunc porta ipsum. Integer aliquam orci eget quam porttitor, et dictum est feugiat. Aenean dapibus purus
                et ante pretium gravida. Quisque feugiat iaculis justo, vitae accumsan dolor. Duis sit amet venenatis
                nisi, nec accumsan lectus. Nam vehicula felis vel nibh luctus blandit. Quisque hendrerit odio ut orci
                lacinia, id sollicitudin libero bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae;
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
