* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { margin-bottom: 500px; }

html, body {
    height: 100%;
}
.content-wrap {
    position: relative;
    z-index: 1;
    background: #fff;
    margin-bottom: 500px;
}
.top-menu { position: absolute; top: 0px; left: 0px; z-index: 3; width: 100%; list-style: none; }
.top-menu a { float: right; background: #fff; border: 1px solid #fff; width: 120px; padding: 5px 10px; text-align: center; margin-top: 30px; font-size: 14px; color: #666;  }
.top-menu a:hover { text-decoration: none; background: none; color: #333; border: 1px solid #fff; color: #fff; }
.top-menu .left:hover { border-right: none; }
.top-menu a.left {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.top-menu a.right {
    margin-right: 70px;
    border-left: 1px #ccc solid;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 { font-size: 3.3em; font-family: 'Montserrat', sans-serif }
h3, .step-number { font-family: 'Montserrat', sans-serif; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt70 { margin-top: 70px; }
.mt90 { margin-top: 90px; }
.mt120 { margin-top: 120px; }
.mb120 { margin-bottom: 120px; }
.clear { clear: both; }

#logo { position: absolute; top: 25px; left: 70px; z-index: 4; color: #fff; font-family: 'Yeseva One', cursive; font-size: 20px; }
#logo:hover { text-decoration: none; }
.signUpPageLogo { color: #333 !important; }
.logo.logoFooter { font-family: 'Yeseva One', cursive; font-size: 20px; }
#welcome-screen {
    background-image: url("/img/home/2.jpg");
    background-color: #8DCF8C;
    background-position: center center;
    background-size: cover;
    color: #fff;
    border-radius: 30px;
    margin: 20px;
}
#welcome-screen.rp_d1 { background-image: url("/img/home/1.jpg"); }
#welcome-screen.rp_d2 { background-image: url("/img/home/2.jpg"); }
#welcome-screen.rp_l3 { background-image: url("/img/home/3.jpg"); }
#welcome-screen.rp_d4 { background-image: url("/img/home/4.jpg"); }

#welcome-screen span { text-transform: uppercase; letter-spacing: 2px; font-size: 1em; }
.container-fluid { padding: 0px; }
.centered-text { text-align: center; }
.centered-text.subTitle { margin-top: 25px; }
.full-height {
    height: 100%;
    position: relative;
}
.full-height-background {
    /*background-image: url('../../img/background_lines.svg');*/
    background-position: center 0;
    background-repeat: no-repeat;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 2;
}

.full-width-bottom-text { position: absolute; bottom: 50px; width: 100%; text-align: center; z-index: 2; }

/* home */
.home-centered-section { padding: 70px 0px; }
.home-centered-section h2 { text-align: center; font-family: 'Playfair Display',serif; }
.features-cells h3 { margin-bottom: 30px; min-height: 75px; }
.features-wrap { margin: 0px auto; margin-top: 25px }
.features-wrap .features-cells { margin: 60px; }
.step-number { font-size: 60px; }
.action-button { display: block; margin: 60px auto 0px auto; width: 200px; height: 40px; line-height: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; text-align: center; text-transform: uppercase; -webkit-font-smoothing: initial; color: #ffffff; cursor: pointer; }
.action-button:hover { text-decoration: none; }

.action-button.light { border: 1px solid #fff; color: #0000cd; background: #fff; }
.action-button.light:hover { background: transparent; color: #fff; text-decoration: none; }

.action-button.dark { border: 1px solid #0000cd; color: #fff !important; background: #0000cd; }
.action-button.dark:hover { background: transparent; color: #0000cd !important; border: 1px solid #0000cd; text-decoration: none; }
.sub-title { font-size: 1.2em; color: #5a5858; margin-top: 25px; }

.gray-bg-wrap {
    background: #eee;
    background-image: url('../../img/background_lines.svg');
    background-position: center 0;
    background-repeat: no-repeat;
}
.gray-bg-wrap .step-number { font-size: 60px; }

/* pricing */
.priceTableWrap { float: none; margin: 40px auto 0px auto; }
.priceWrap { width: 130px; margin: 0px auto; position: relative; }
.priceTextWrap {  font-weight: normal; float: left; }
.currencyWrap { font-size: 25px; float: left; margin-top: 70px; margin-left: -10px; }
.mainNumber { font-size: 90px; float: left; }
.smallNumber { font-size: 18px; margin-top: 28px; float: left; }
.priceDescription { font-size: small; text-align: center; position: absolute; bottom: 0px; width: 100%; }
.priceTableWrap th { font-weight: normal; border: 1px solid #dfe3e8; }
.priceTableWrap td { padding: 10px 25px; border: 1px solid #dfe3e8 }


/* footer */
/* fixed footer */

#footerWrap {
    height: 500px;
    /*background: #231f20;*/
    /*background: #0000cd; !* medium blue *!*/
    width: 100%;
    position: fixed;
    color: #fff;
    padding: 165px 0px;
    left: 0px;
    bottom: 0px;
    z-index: 0;
}

#footerWrap ul { list-style-type: none; padding: 0px; margin-top: 10px; color: #fff; }
#footerWrap ul li { padding-top: 2px; padding-bottom: 2px; }
#footerWrap span.footerLabel{
    margin-bottom: 15px;
    font-size: 17px;
    display: block;
    font-weight: bold;
}
#footerWrap a { color: #fff; }
#footerWrap a:hover { text-decoration: none; }
/* social icons from here https://www.iconfinder.com/icons/734395/instagram_media_online_photo_social_icon#size=128 */

#footerWrap .socialIcons { margin-top: 15px; }
#footerWrap .socialIcons a { margin-right: 5px; }

.gradientBackground {
    /* lighter gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000cd+0,008cea+100*/

    /*background: #0000cd; !* Old browsers *!*/
    /*background: -moz-linear-gradient(45deg, #0000cd 0%, #008cea 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(45deg, #0000cd 0%,#008cea 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(45deg, #0000cd 0%,#008cea 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000cd', endColorstr='#008cea',GradientType=1 );*/


    /* darker gradient */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0000cd+0,0700e2+100 */

    background: #0000cd; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0000cd 0%, #0700e2 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0000cd), color-stop(100%,#0700e2)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(45deg, #0000cd 0%,#0700e2 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #0000cd 0%,#0700e2 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(45deg, #0000cd 0%,#0700e2 100%); /* IE10 preview */
    background: linear-gradient(45deg, #0000cd 0%,#0700e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000cd', endColorstr='#0700e2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    /* medium */

    /*background: #0000cd; !* Old browsers *!*/
    /*background: -moz-linear-gradient(45deg, #0000cd 0%, #0069ea 100%); !* FF3.6-15 *!*/
    /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0000cd), color-stop(100%,#0069ea)); !* Chrome4-9,Safari4-5 *!*/
    /*background: -webkit-linear-gradient(45deg, #0000cd 0%,#0069ea 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: -o-linear-gradient(45deg, #0000cd 0%,#0069ea 100%); !* Opera 11.10-11.50 *!*/
    /*background: -ms-linear-gradient(45deg, #0000cd 0%,#0069ea 100%); !* IE10 preview *!*/
    /*background: linear-gradient(45deg, #0000cd 0%,#0069ea 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000cd', endColorstr='#0069ea',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/

}
/* templates */
.siteTemplates { margin-top: 50px; margin-bottom: 50px; }
.templatePreviewWrap { cursor: pointer; }
.templatePreview { width: 100%; height: 370px; border-radius: 15px; float: left; background-size: cover; background-position: center; position: relative; }
.templatePreview:hover { box-shadow: 4px 4px 6px #9f9fa2; }
.templatePreview .templateNameWrap { position: absolute; bottom: 20px; left: 20px;  color: #fff; }
.templatePreview .templateNameWrap .name { font-family: "Playfair Display", serif; font-size: 20px; font-weight: bold; color: #fff; }
.templatePreview .templateNameWrap .description { text-transform: uppercase; font-size: 13px; }

.centeredForm { width: 600px; margin: 0px auto; text-align: center; height: 550px; }
.centeredForm input {margin-bottom: 20px; }
.registrationForm label { text-align: left; float: left; }