body, html {
    height: 100%;
}

.fullScreenBackground {
    background-image: url("https://berform.s3.eu-west-1.amazonaws.com/ffc21b2761526bf8dae45f31c3d33228.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigationWrap { position: fixed; top: 0px; left: 0px; }

.header h1 {
    text-align: center;
    width: 100%;
    padding: 40px 0px;
}

main {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #fff;
    padding-bottom: 150px;
}

.clear { clear: both; }

/* footer */
footer {
    width: 100%;
    padding: 20px;
    font-size: small;
}

.footer .socialIcons {
    float: left;
}

.footer .socialIcons a {
    margin-right: 10px;
}
.footer .siteName { margin-left: 50px; float: left; }
.footer .builtWithBerform { float: right; }

/* end footer */

.logo {
    float: left;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #333;
}

.navbar {
    float: right;
}

/*.contentContainer { padding-bottom: 150px; }*/
.contentContainer a {
    color: #4d7bae;
}

a {
    color: #383E41;
}

a:hover {
    text-decoration: none;
}

#pagesMenu li {
    margin-left: 40px;
}

.navigation {
    padding: 20px 0px;
    background: #fff;
    z-index: 2;
    position: relative;
}

.navigation .socialIcons {
    padding: .5rem 1rem;
    float: right;
}

.navigation .socialIcons a {
    padding: 0 .1rem;
    margin-right: 20px;
}

h1 {
    text-align: center;
    margin: 100px 0px 100px;
}

#home-content h1 { margin: 0px 0px; }
.albumContent { margin-bottom: 100px; }
.photosGrid a { margin-bottom: 50px; }

/* albums */
.albumWrap {
    margin: 80px 0px;
}

.albumWrap a {
    color: #383E41;
}

.albumWrap h3 {
    margin-top: 20px;
}

.albumWrap p {
    margin-top: 10px;
}

.albumWrap a:hover {
    color: inherit;
}
.albumContentWrap a { padding-bottom: 30px; }
/* end albums */

/* contact page */
.contactUsWrap {
    margin: 30px 0px;
    text-align: center;
}

#contactForm label {
    width: 100%;
    margin: 10px 0px 0px;
}

#contactForm input, #contactForm textarea {
    border: 1px solid #ccc;
    width: 100%;
}

#contactForm .contactFormRowCell {
    padding-left: 0px;
}

#contactForm #contact_submit {
    height: 35px;
    line-height: 35px;
    width: 100px;
    background: #000;
    border: 0px;
    color: #fff;
    border-radius: 40px;
    float: right;
    margin-top: 10px;
    text-transform: lowercase;
}

/* end contact page */


/* blog */
.blogListWrap h2 {
    margin-bottom: 50px;
}

.blogListWrap a {
    color: #383E41;
}

.blogListWrap .blogImgWrap, .blogPost .blogImgWrap {

    float: left;
    margin: -20px 30px 20px -40px;

}

.blogPost {
    margin-bottom: 100px;
}

.blogPost #imagesWrap {
    position: relative;
    width: 350px;
    float: left;
}

.blogPost #imagesWrap .imgWrap {
    margin-right: 5px;
}

.blogPost .blogIconImgWrap {
    float: left;
    margin-left: -40px;
}

.blogPost, .blogListWrap {
    padding-left: 40px;
}

.blogListWrap h2, .blogPost h1 {
    margin-bottom: 60px;
}

.blogListWrap .blogImgWrap, .blogPost .blogImgWrap {
    float: left;
    margin: -20px 30px 20px -40px;
}

.blogListWrap .moreLink {
    margin-bottom: 100px;
    float: left;
    color: #4d7bae;
}


.parallaxImageWrap {
    margin: 20px -50px;
}

.parallaxImageWrap a {
    height: 600px;
    width: 100%;
    display: block;
    background-attachment: fixed;
    background-position: center;
}

.singleImageStaticWrap img {width: 100%; overflow: hidden; }

.morePosts a { color: #212529 }
.morePosts .blogImgWrap {
    width: 100%;
    overflow: hidden;
    display: block;
}
.morePosts h3 { min-height: 70px; }

.publishedAt { float: left; width: 100%; color: #555; font-size: small; }