{% extends 'UserSite/layout.html.twig' %}
{% block body %}
    <h1>{% trans %}{% endtrans %}</h1>
    <p>
        {% if page.translatedContent[app.request.locale] is defined %}{{ page.translatedContent[app.request.locale] }}{% endif %}
    </p>
{% endblock %}
